<div class="task-details p-4 bg-white">
  <h5 class="text-primary fw-semibold mb-2 border-bottom pb-2">
    {{ taskDetails.taskName }}
  </h5>
  <p class="mb-2 task-description">
    {{ taskDetails.taskDescription }}
  </p>
  <p class="fw-bold">{{ taskDetails.taskUrgency }}</p>
  <p class="fw-bold mb-2">{{ taskDetails.taskImportance }}</p>
  <p>Start Date: {{ taskDetails.startDate | date : "mediumDate" }}</p>
  <p>Due Date: {{ taskDetails.dueDate | date : "mediumDate" }}</p>
  <p class="mt-2" *ngIf="taskDetails.completionDate">
    Date of completion: {{ taskDetails.completionDate | date : "mediumDate" }}
  </p>
</div>
