<div class="card bg-white p-2 rounded-2 mb-3 cursor-pointer">
  <div class="card-title d-flex align-items-center">
    <span class="bi bi-check-circle text-dark opacity-75 me-2"></span>
    <h6
      class="fw-semibold"
      [ngClass]="{
        'text-success':
          Tasks.taskUrgency == 'Urgent' || Tasks.taskImportance == 'Important',
        'text-warning':
          Tasks.taskUrgency == 'Not Urgent' &&
          Tasks.taskImportance == 'Important',
        'text-info':
          Tasks.taskUrgency == 'Urgent' &&
          Tasks.taskImportance == 'Not Important',
        'text-danger':
          Tasks.taskUrgency == 'Not Urgent' &&
          Tasks.taskImportance == 'Not Important'
      }"
    >
      {{ Tasks.taskName }}
    </h6>
  </div>
  <div class="card-body">
    <div
      class="my-2"
      *ngIf="
        Tasks.taskUrgency == 'Urgent' && Tasks.taskImportance == 'Important'
      "
    >
      <span class="urgent me-2">{{ Tasks.taskUrgency }}</span>
      <span class="important">{{ Tasks.taskImportance }}</span>
    </div>

    <div
      class="my-2"
      *ngIf="
        Tasks.taskUrgency == 'Not Urgent' && Tasks.taskImportance == 'Important'
      "
    >
      <span class="not-urgent me-2">{{ Tasks.taskUrgency }}</span>
      <span class="important">{{ Tasks.taskImportance }}</span>
    </div>
    <div
      class="my-2"
      *ngIf="
        Tasks.taskUrgency == 'Urgent' && Tasks.taskImportance == 'Not Important'
      "
    >
      <span class="urgent me-2">{{ Tasks.taskUrgency }}</span>
      <span class="not-important">{{ Tasks.taskImportance }}</span>
    </div>
    <div
      class="my-2"
      *ngIf="
        Tasks.taskUrgency == 'Not Urgent' &&
        Tasks.taskImportance == 'Not Important'
      "
    >
      <span class="not-urgent me-2">{{ Tasks.taskUrgency }}</span>
      <span class="not-important">{{ Tasks.taskImportance }}</span>
    </div>
    <div class="date">
      <span class="p-0">{{ Tasks.startDate | date : "mediumDate" }}</span>
      <span *ngIf="Tasks.startDate">-</span>
      <span class="p-0">{{ Tasks.dueDate | date : "mediumDate" }}</span>
    </div>
  </div>
</div>
