<div class="p-3 bg-white h-100 w-100">
  <h6 class="text-primary fw-bold mb-3">Task Details</h6>
  <form id="task-form" [formGroup]="taskForm" (submit)="onAddTask()">
    <!-- start: task name control -->
    <div class="mb-3">
      <label for="task-name">Task name<span class="text-danger">*</span></label>
      <input
        type="email"
        class="form-control"
        id="task-name"
        formControlName="taskName"
        [ngClass]="{
          'is-invalid':
            taskForm.controls['taskName'].invalid &&
            (isSubmitted ||
              taskForm.controls['taskName'].touched ||
              taskForm.controls['taskName'].dirty),
          'is-valid':
            taskForm.controls['taskName'].valid &&
            (isSubmitted ||
              taskForm.controls['taskName'].touched ||
              taskForm.controls['taskName'].dirty)
        }"
      />

      <div
        *ngIf="
          taskForm.controls['taskName'].invalid &&
          (isSubmitted ||
            taskForm.controls['taskName'].touched ||
            taskForm.controls['taskName'].dirty)
        "
      >
        <span
          class="error text-danger"
          *ngIf="taskForm.controls['taskName'].errors?.['required']"
          >Enter the task name</span
        >
      </div>
    </div>
    <!-- end: task name control -->

    <!-- start: task description control -->
    <div class="mb-3">
      <label for="task-description"
        >Task description<span class="text-danger">*</span></label
      >
      <textarea
        class="form-control"
        id="task-description"
        rows="3"
        formControlName="taskDescription"
        [ngClass]="{
          'is-invalid':
            taskForm.controls['taskDescription'].invalid &&
            (isSubmitted ||
              taskForm.controls['taskDescription'].touched ||
              taskForm.controls['taskDescription'].dirty),
          'is-valid':
            taskForm.controls['taskDescription'].valid &&
            (isSubmitted ||
              taskForm.controls['taskDescription'].touched ||
              taskForm.controls['taskDescription'].dirty)
        }"
      ></textarea>

      <div
        *ngIf="
          taskForm.controls['taskDescription'].invalid &&
          (isSubmitted ||
            taskForm.controls['taskDescription'].touched ||
            taskForm.controls['taskDescription'].dirty)
        "
      >
        <span
          class="error text-danger"
          *ngIf="taskForm.controls['taskDescription'].errors?.['required']"
          >Enter the task description
        </span>
      </div>
    </div>
    <!-- end: task description control -->

    <!-- start: urgency radio buttons -->
    <div class="mb-3">
      <label class="mb-2" for="taskUrgency"
        >Urgency<span class="text-danger">*</span></label
      >
      <div class="d-flex">
        <div class="form-check me-3">
          <input
            class="form-check-input"
            type="radio"
            id="urgent"
            formControlName="taskUrgency"
            value="Urgent"
          />
          <label class="form-check-label" for="urgent"> Urgent </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="not-urgent"
            formControlName="taskUrgency"
            value="Not Urgent"
          />
          <label class="form-check-label" for="not-urgent"> Not urgent </label>
        </div>
      </div>
    </div>
    <!-- end: urgency radio buttons -->

    <!-- start: importance radio buttons -->
    <div class="mb-3">
      <label class="mb-2" for="taskImportance"
        >Importance<span class="text-danger">*</span></label
      >
      <div class="d-flex">
        <div class="form-check me-3">
          <input
            class="form-check-input"
            type="radio"
            id="important"
            formControlName="taskImportance"
            value="Important"
          />
          <label class="form-check-label" for="important"> Important </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="not-important"
            value="Not Important"
            formControlName="taskImportance"
          />
          <label class="form-check-label" for="not-important">
            Not important
          </label>
        </div>
      </div>
    </div>
    <!-- end: importance radio buttons -->

    <!-- start: start date control -->
    <div class="mb-3">
      <label for="start-date">Start date:</label>
      <app-custom-datepicker
        id="start-date"
        formControlName="startDate"
      ></app-custom-datepicker>
    </div>
    <!-- end: start date control -->

    <!-- start: due date control -->
    <div class="mb-3">
      <label for="due-date">Due date<span class="text-danger">*</span></label>
      <app-custom-datepicker
        id="due-date"
        formControlName="dueDate"
        [isFormSubmitted]="isSubmitted"
      ></app-custom-datepicker>
      <!-- [ngClass]="{
          'is-invalid':
            taskForm.controls['dueDate'].invalid &&
            (isSubmitted ||
              taskForm.controls['dueDate'].touched ||
              taskForm.controls['dueDate'].dirty),
          'is-valid':
            taskForm.controls['dueDate'].valid &&
            (isSubmitted ||
              taskForm.controls['dueDate'].touched ||
              taskForm.controls['dueDate'].dirty)
        }" -->

      <!-- <div
        *ngIf="
          taskForm.controls['dueDate'].invalid &&
          (isSubmitted ||
            taskForm.controls['dueDate'].touched ||
            taskForm.controls['dueDate'].dirty)
        "
      >
        <span
          class="error text-danger"
          *ngIf="taskForm.controls['dueDate'].errors?.['required']"
          >Select the due date</span
        >
      </div> -->
    </div>
    <!-- end: due date control -->
    <!-- submit button -->
    <button type="submit" class="btn btn-primary px-4">
      <span *ngIf="!isUpdated">Add</span>
      <span *ngIf="isUpdated">Update</span>
    </button>
  </form>
</div>
