$primary: #602368;
$secondary: #EFEEEE;
$sucess: #3A925D;
$danger: #AF0808;
$info: #0E6190;
$gray: #989d9e;

// Dedicated for button text only 
$btn-text-primary: $primary;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "gray":$gray,
);