$primary: #602368;
$secondary: #EFEEEE;
$success: #3A925D;
$danger: #AF0808;
$warning: #DE7513;
$info: #0E6190;
$gray: #D9D9D9;
$dark: #212529;

// Dedicated for button text only 
$btn-text-primary: $primary;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "danger": $danger,
    "warning":$warning,
    "dark":$dark,
    "gray":$gray,
);