<div class="nav p-2 d-flex align-items-center justify-content-between">
  <h4 class="text-primary fw-normal">Eisenhower Matrix</h4>
  <div class="d-flex align-items-center">
    <form>
      <input
        type="search"
        placeholder="Search here"
        class="form-control rounded-2 py-1 px-3 border-0 me-2 bg-secondary"
      />
    </form>
    <span
      class="bi bi-plus-circle-fill fs-3 text-primary cursor-pointer me-2"
    ></span>
    <div class="d-flex align-items-center cursor-pointer">
      <div class="profile-wrapper me-1">
        <img src="" />
      </div>
      <span class="bi bi-caret-down-fill"></span>
    </div>
  </div>
</div>
