<div class="nav p-2 d-flex align-items-center justify-content-between">
  <h4 class="text-primary fw-normal">Eisenhower Matrix</h4>
  <div class="d-flex align-items-center">
    <form class="me-2">
      <input
        type="search"
        placeholder="Search here"
        class="form-control rounded-2 py-1 px-3 border-0 me-2 bg-secondary"
      />
    </form>
    <span
      class="bi bi-plus-circle-fill fs-3 text-primary cursor-pointer me-2"
      (click)="onAddTask()"
    ></span>
    <div class="nav-item dropdown me-2">
      <div
        class="dropdown-toggle profile-wrapper me-1"
        data-bs-toggle="dropdown"
        role="button"
      >
        <img src="" />
      </div>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
