<div class="row h-100 gx-0">
  <div class="col-3 p-3 bg-gray">
    <h5 class="fw-semibold mb-4">Do First</h5>
    <div>
      <app-card></app-card>
    </div>
  </div>
  <div class="col-3 p-3">
    <h5 class="fw-semibold mb-4">Schedule</h5>
    <div>
      <app-card></app-card>
    </div>
  </div>
  <div class="col-3 p-3 bg-gray">
    <h5 class="fw-semibold mb-4">Delegate</h5>
    <div>
      <app-card></app-card>
    </div>
  </div>
  <div class="col-3 p-3">
    <h5 class="fw-semibold mb-4">Delete</h5>
    <div>
      <app-card></app-card>
    </div>
  </div>
</div>
