<table class="table table-striped text-center" *ngIf="allTask.length > 0">
  <thead>
    <tr>
      <th class="bg-primary text-white">Sr. No.</th>
      <th class="bg-primary text-white">Task Name</th>
      <th class="bg-primary text-white">Due Date</th>
      <th class="bg-primary text-white">Task Progress</th>
      <th class="bg-primary text-white">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="allTask | search : searchTerm as filteredData">
    <tr
      *ngIf="filteredData.length == 0"
      class="text-danger fs-4 m-2 text-start"
    >
      No Task Found
    </tr>
    <tr *ngFor="let item of filteredData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.taskName }}</td>
      <td>{{ item.dueDate }}</td>
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <!-- <div
            id="selectedValue_{{ item.id }}"
            class="p-2 rounded-2 me-2"
            #selectedValues
          >
            {{ item.taskStatus }}
          </div> -->
          <span
            class="p-2 rounded-2 me-2 bg-gray"
            id="selectedValue_{{ item.id }}"
            *ngIf="item.taskStatus == 1"
            >{{ item.taskStatus | label }}</span
          >
          <span
            class="p-2 rounded-2 me-2 bg-info text-white"
            id="selectedValue_{{ item.id }}"
            *ngIf="item.taskStatus == 2"
            >{{ item.taskStatus | label }}</span
          >
          <span
            class="py-2 px-4 rounded-2 me-2 bg-success text-white"
            *ngIf="item.taskStatus == 3"
            id="selectedValue_{{ item.id }}"
            >{{ item.taskStatus | label }}</span
          >
          <div class="dropdown">
            <span
              class="cursor-pointer dropdown-toggle"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            ></span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li *ngFor="let status of taskStatus">
                <span
                  class="p-2 dropdown-item"
                  (click)="updateSelectedValue(item, status.id)"
                  >{{ status.value }}</span
                >
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-outline-success px-4 py-1 me-2"
          (click)="onEditTask(item)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-outline-danger px-4 py-1 me-2"
          (click)="onDeleteTask(item.id)"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-outline-info px-4 py-1"
          (click)="onTaskDetails(item)"
        >
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>
