th {
    font-size: 14px;
    padding: 8px;
    font-weight: 400;
}

tbody {
    font-size: 14px;
}


.task-progress {
    position: absolute;
    top: 0;
    right: 0;
}

.task-row {
    position: relative;
}

.actions {
    position: absolute;
    top: 5px;
    right: 5px
}